<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Vouchere</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <button *ngIf="!voucher" ion-button color="light" (click)="generateVoucher()">Genereaza Voucher</button>
    <button *ngIf="!voucher" ion-button color="light" (click)="getAllVouchers()">Arata toate voucherele</button>

    <ion-card *ngIf="voucher">
        <ion-card-header (click)="voucherTapped(voucher)">
            {{voucher.voucher}}
        </ion-card-header>
    </ion-card>

    <div *ngIf="vouchers && vouchers.length > 0">
        <ion-card *ngFor="let oldVoucher of vouchers">
            <ion-card-header (click)="voucherTapped(oldVoucher)">
                {{oldVoucher.voucher}}
            </ion-card-header>
            <ion-card-content>
                <h3 *ngIf="oldVoucher.date">Voucher folosit</h3>
                <h3 *ngIf="!oldVoucher.date">Voucher eligibil</h3>
            </ion-card-content>

        </ion-card>
    </div>

</ion-content>